{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'new/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'new/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'new/css/style.css' %}">
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <title>Monochrome Chemicals</title>
  </head>
  <body class="index is-preload">

    <div id="page-wrapper">

	<section class="bgimage">
	<nav class="navbar navbar-dark navbar-expand-md justify-content-between fixed-top navbar-dark" id="navbar">
	<div class="container-fluid">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
	<span class="navbar-toggler-icon"></span>
	</button>
        <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
	<ul class="navbar-nav">
	<li class="nav-item">
    <a class="nav-link pl-0" href="{% url 'indexa' %}">Home <span class="sr-only">Home</span></a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="products.html">Categories</a>
	</li>
     <li class="nav-item active">
	<a class="nav-link" href="about.html.com">About </a>
	</li>
	
        <li class="nav-item">
										<a class="nav-link" href="{% url 'contact1' %}">Contact</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'register1' %}">Register</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'userlogin1' %}">Login</a>
									</li>
									
								</ul>
							</div>
						
					</div>
				</nav>

				<header class="container d-flex h-100 montserrat text-white">
					<div class="row justify-content-center align-self-center">
						<div class="col-sm-12 text-left align-middle text--small--mobile line-after">
							<h1 class="mb-2 fs-44">
								About 
							</h1>
						<a href="#about_process"><button type="button" class="btn btn-lg btn-info">Learn more about us</button></a>
					</div>
				</div>
			</header>
		  </section>



	<div class="container">
		<div class="row justify-content-start align-self-center heading-block" id="about_process">
			<div class="col-sm-12 text-left align-baseline text--small--mobile heading-line-after">
				<div class="text-uppercase">About </div>
				<h1 class="mb-2 text-info">Monochrome Chemicals</h1>
	</div>
		</div>
	
		<div class="row justify-content-start align-self-center about-background-image pb-5">
			<div class="col-sm-8 offset-md-4 text-left align-baseline text--small--mobile heading-line-after">
				<p>Monochrome Chemicals is a leading company that manufactures green technology based bulk, specialty and performance chemicals and natural gums, spirits, industrial gases, sugar and nutraceuticals.</p>
				<p>The company was established as a single mono-ethylene glycol plant in 1983. Since then, Monochrome has brought together cutting-edge technology, innovation and an unflagging commitment to quality, to manufacture a wide range of products that have found global demand.</p>
				<p>Monochrome Chemicals state-of-the-art, integrated facilities manufacture chemicals including glycols, ethoxylates, glycol ethers and acetates, and various performance chemicals. Its product range spans the chemicals, spirits, herbal and other phytochemical extracts and guar gum, industrial gases and realty sectors, and finds application across an increasing number of industries.</p>
				<p>These products are manufactured in compliance with stringent global standards of plant operations, quality and safety. The company’s facilities have been approved and certified. The operations at all plants are closely monitored through distributed control systems (DCS), which facilitate a high degree of control over the quality of products. Their continued emphasis on superior quality, through the latest technologies available worldwide, has made them a pioneer in its field.</p>
				<p>Monochrome Chemicals is the first and only company in the world to Greenige have commercialized the production of ethylene oxide, its themicals derivatives and glycols from renewable agricultural resources. Monochrome Chemicals believes in green.</p>
			</div>
		</div>
	</div>


	<section class="discover-products">
		<div class="special container">
			<div class="row justify-content-center align-items-center">
				<div class="col-12 col-md-6 text-center text--small--mobile">
					<div class="product-item-image montserrat">
						<a href="products.html"><button type="button" class="fs-15 btn btn-lg btn-outline-info mx-auto text-uppercase">Discover Products</button></a>
					</div>
				</div>
			</div>
		</div>
	</section>
			<!-- Footer -->

				<footer id="footer" class="fs-15 merriweather">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter icon-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook icon-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus icon-google-plus2"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github icon-pinterest2"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon circle fa-dribbble icon-instagram"><span class="label">Dribbble</span></a></li>
					</ul>

					<div class="row justify-content-center pt-4 pb-4">
							<div class="col-12 col-sm-8">
								<p>Monochrome Chemicals is the first and only company in the world to Greenige have commercialized the production of ethylene oxide, its themicals derivatives and glycols from renewable agricultural resources. We believes in green.</p>
							</div>
						</div>

					<div class="row justify-content-center justify-content-md-between flex-column flex-md-row">
						<p>Email : <a href="#">info@dubaimonochrometrading</a></p>
						<p>Contact : <a href="#">+971 52 773 7603</a>, <a href="#">+971 52 748 2674</a></p>
					</div>

					<ul class="icons col-sm-5 d-flex justify-content-around mx-auto pt-4 pb-4">
						<li><a href="#"><span class="label">Products</span></a></li>
						<li><a href="#"><span class="label">Privacy Policy</span></a></li>
						<li><a href="#"><span class="label">Contact</span></a></li>
					</ul>

					<ul class="copyright">
						<li><a href="#">Monochrome Chemicals</a> &copy; 2015 - 2017</li><li></li>
					</ul>

				</footer>

		</div>

	<!-- Scripts -->
	<script src="{% static 'new/js/jquery.min.js' %}"></script>
	<script src="{% static 'new/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'new/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'new/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'new/js/browser.min.js' %}"></script>
    <script src="{% static 'new/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'new/js/util.js' %}"></script>
	<script src="{% static 'new/js/main.js' %}"></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="{% static 'new/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'new/js/index.js' %}"></script>
  </body>
</html>