{% extends 'index.html' %}
{% block content %}



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Products Table</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Simple Tables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card" style="width:600px;">
              <div class="card-header">
                <h3 class="card-title">product Details</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>pname</th>
                      <th>weight</th>
                      <th>price</th>
                      <th>image</th>
                      <th>edit1</th>
                      <th>delete1</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in data %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.pname}}</td>
                      <td>{{i.weight}}</td>
                      <td>{{i.price}}</td>
                      <td><img src="{{i.image.url}}" style="height: 50px; width: 50px"></td>
                      <td><a href="{% url 'edit1' eid=i.id %}"><button type="button">edit1</button></a></td>
                      <td><a href="{% url 'delete1' lid=i.id %}"><button type="button">delete1</button></a></td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            
            </div>
            
          </div>
          <!-- /.col -->
         
          <!-- /.col -->
        </div>
      
      
        <!-- /.row -->
        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
    
{% endblock %}